@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap");
/* NAVBAR */
.navcss {
  background-color: #ffffff;
  height: 104px;
  /* box-shadow: 0px 8px 24px rgba(186, 186, 186, 0.16); */
}
.logo {
  height: 100%;
  top: 9.57px;
  left: 0.35px;
}
.buttonSignUp {
  background: #5f2eea;
  border-radius: 4px;
  width: 120px;
  height: 40px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #f7f7fc;
}
.buttonSignUp:hover {
  background-color: #ffffff;
  color: #5f2eea;
  border: 2px solid #5f2eea;
}
.displayHide {
  display: none;
}
/* Nav Profile*/
.searchWord {
  display: none;
  width: 150px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  padding-left: 10px;
  border-radius: 10px;
  border: 1px solid #ffffff;
}
.profileNav:hover .searchWord {
  display: inline-block;
}
.profileMenu {
  background-color: #ffffff;
  margin-top: -15px;
}
.profileImg {
  height: 45px;
  width: 45px;
  border-radius: 50%;
}
.fontProfile {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}
.homeMenu {
  position: absolute;
  left: 27%;
  top: 42px;
  text-decoration: none;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.005em;
  color: #414141;
}
.listMenu {
  position: absolute;
  left: 34%;
  top: 42px;
  text-decoration: none;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.005em;
  color: #414141;
}
.navIconBar {
  display: none;
  width: 10px;
}
/* BANNER */
.banner {
  margin-top: 100px;
  height: 609px;
  background-color: #ffffff;
}
.motto {
  position: absolute;
  top: 304px;
}
.banner_img {
  height: 100%;
}
/* NOWSHOWING */
.nowShowing {
  background-color: #f5f6f8;
  height: 576px;
  position: relative;
}
.titleNowShowing {
  width: 161px;
  position: relative;
  top: 60px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #5f2eea;
  font-weight: bold;
}
.viewAll {
  position: relative;
  width: 60px;
  height: 20px;
  top: 25px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #5f2eea;
}
.lineNowShowing {
  position: relative;
  top: 30px;
  left: 20px;
}
.movieShow {
  position: relative;
  height: 308px;
  width: 223px;
  left: 0px;
  top: 70px;
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid #ffffff;
  border-radius: 8px;
  margin: 5px;
}
.movieShow:hover {
  top: 50px;
  z-index: 2;
  background-color: #ffffff;
  height: 420px;
  border: 0.5px solid #dedede;
  box-shadow: 0px 8px 30px rgba(186, 186, 186, 0.25);
  border-radius: 8px;
}
.titleMovieShow {
  display: none;
  position: relative;
  top: -20px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.15px;
  color: #14142b;
}
.movieShow:hover .titleMovieShow {
  display: block;
}
.desMovieShow {
  display: none;
  position: relative;
  top: -20px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.4px;
  color: #a0a3bd;
  text-align: center;
}
.movieShow:hover .desMovieShow {
  display: block;
}
.btnMovieShow {
  display: none;
  position: relative;
  top: -20px;
  left: 30px;
  border: 1px solid #5f2eea;
  box-sizing: border-box;
  border-radius: 4px;
  color: #5f2eea;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  height: 33px;
  width: 159px;
}
.btnMovieShow:hover {
  background-color: #5f2eea;
  color: #ffffff;
}
.movieShow:hover .btnMovieShow {
  display: block;
}
.movieCardImg {
  padding: 30px;
  border-radius: 6px;
}
/* UPCOMING */
.upcoming {
  position: relative;
  z-index: 1;
  height: 700px;
  background-color: #ffffff;
}
.titleUpcoming {
  width: 250px;
  position: relative;
  top: 60px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: black;
  font-weight: bold;
}
.movieShowUpcoming {
  position: relative;
  height: 408px;
  width: 223px;
  left: 0px;
  top: 70px;
  margin-left: 50px;
  background: #ffffff;
  border: 1px solid #dedede;
  border-radius: 8px;
  margin: 5px;
}
.titleCard {
  position: relative;
  top: -30px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.15px;
  color: #14142b;
}
.desCard {
  position: relative;
  top: -30px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.4px;
  color: #a0a3bd;
}
.btnCard {
  position: relative;
  top: -30px;
  left: 15px;
  border: 1px solid #5f2eea;
  box-sizing: border-box;
  border-radius: 4px;
  color: #5f2eea;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  height: 33px;
  width: 159px;
}
.btnCard:hover {
  background-color: #5f2eea;
  color: #ffffff;
}
.btnMonth {
  position: relative;
  top: 40px;
  left: 15px;
  border: 1px solid #5f2eea;
  box-sizing: border-box;
  border-radius: 4px;
  color: #5f2eea;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  height: 33px;
  width: 189px;
}
.activeMonth {
  background-color: #5f2eea;
  color: #ffffff;
}
.btnMonth:hover {
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #000000;
}
/* RESPONCARD */
.responseCard {
  position: relative;
  z-index: 1;
  background-color: #ffffff;
  height: 500px;
}
.cardMainResponse {
  position: relative;
  top: 30px;
  width: 100%;
  height: 300px;
  background: #ffffff;
  box-shadow: 0px 16px 32px rgba(186, 186, 186, 0.3);
  border-radius: 8px;
}
.moviegoers {
  height: 87px;
  width: 262px;
  position: relative;
  margin-top: 50px;
}
.emailForm {
  margin-right: 60px;
  position: relative;
  padding: 10px;
  width: 300px;
  height: 40px;
  top: 20px;
  left: 160px;
  border: 2px solid #dedede;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 0.75px;
  color: #a0a3bd;
}
.buttonResponse {
  position: relative;
  margin-left: -70px;
  top: 20px;
  left: 170px;
  background: #5f2eea;
  border-radius: 4px;
  width: 120px;
  height: 40px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #f7f7fc;
}
.buttonResponse:hover {
  border: 2px solid #5f2eea;
  background-color: #ffffff;
  color: #5f2eea;
}
.textResponse {
  position: relative;
  top: 50px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.75px;
  color: #6e7191;
}
.textResponse2 {
  position: relative;
  top: 40px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.75px;
  color: #6e7191;
}
/* FOOTER */
.footerMain {
  position: relative;
  background-color: #ffffff;
  z-index: 1;
  height: 400px;
  padding-top: 60px;
}
.footerLogo {
  position: relative;
  height: 43px;
  top: 93px;
}
.textCol1 {
  position: relative;
  top: 130px;
  width: 300px;
  font-family: "Mulish";
  font-style: normal;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.75px;
  color: #6e7191;
}
.textCol2 {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.5px;
  color: #000000;
  position: relative;
  top: 93px;
}
.footerPage {
  position: relative;
  top: 120px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.5px;
  color: #4e4b66;
  text-decoration: none;
}
.sponsor {
  position: relative;
  top: 110px;
}
.contact {
  position: relative;
  top: 110px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #6e7191;
}
.copyRight {
  position: relative;
  top: 150px;
  text-align: center;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #4e4b66;
}

/* RESPONSIVE */
@media screen and (max-width: 800px) {
  /* NAVRes */
  .buttonSignUp {
    display: none;
  }
  .profileNav {
    display: none;
  }
  .homeMenu {
    display: none;
  }
  .listMenu {
    display: none;
  }
  .navIconBar {
    display: inline-block;
    margin-right: 120px;
  }
  /* CONTENTRes */
  .motto {
    top: 150px;
  }
  .hideResp {
    display: none;
  }
  .banner {
    height: 800px;
  }
  .banner_img {
    position: relative;
    top: 200px;
  }
  .nowShowing {
    height: 500px;
    background-color: #d6d8e7;
  }
  .movieShow {
    position: relative;
    margin-right: -30px;
    height: 308px;
    width: 223px;
    margin-bottom: 50px;
  }
  .btnMonth {
    display: none;
  }
  .activeMonth {
    display: inline-block;
  }
  .moviegoers {
    margin-top: 10px;
  }
  .emailForm {
    left: -50px;
    margin-bottom: 10px;
  }
  .buttonResponse {
    left: 270px;
  }
  /* FOOTER */
  .footerLogo {
    height: 80px;
  }
  .textCol1 {
    top: 100px;
  }
  .textCol2 {
    margin-top: 30px;
    top: 100px;
  }
  .listFooter {
    position: relative;
    top: 85px;
    left: 100px;
  }
  .ourSponsor {
    position: relative;
    margin-bottom: 50px;
  }
  .sponsor {
    position: absolute;
    top: 170px;
  }
  .sp2 {
    top: 185px;
    left: 180px;
  }
  .sp3 {
    top: 185px;
    left: 400px;
  }
  .fb {
    position: relative;
    left: 40px;
  }
  .ig {
    position: relative;
    top: -22px;
    left: 160px;
  }
  .tweeter {
    position: relative;
    top: -44px;
    left: 280px;
  }
  .yt {
    position: relative;
    top: -66px;
    left: 400px;
  }
  .copyRight {
    left: 30px;
    top: 60px;
    text-align: start;
  }
}
