@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap");
/* NAVBAR */
.navcss {
  background-color: #ffffff;
  height: 104px;
  box-shadow: 0px 8px 24px rgba(186, 186, 186, 0.16);
}
.logo {
  height: 100%;
  top: 9.57px;
  left: 0.35px;
}
.buttonSignUp {
  background: #5f2eea;
  border-radius: 4px;
  width: 120px;
  height: 40px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #f7f7fc;
}
.buttonSignUp:hover {
  background-color: #ffffff;
  color: #5f2eea;
  border: 2px solid #5f2eea;
}
.displayHide {
  display: none;
}
/* Nav Profile*/
.searchWord {
  display: none;
  width: 150px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  padding-left: 10px;
  border-radius: 10px;
  border: 1px solid #ffffff;
}
.profileNav:hover .searchWord {
  display: inline-block;
}
.profileMenu {
  background-color: #ffffff;
  margin-top: -15px;
}
.profileImg {
  height: 45px;
  width: 45px;
  border-radius: 50%;
}
.fontProfile {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}
.homeMenu {
  position: absolute;
  left: 27%;
  top: 42px;
  text-decoration: none;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.005em;
  color: #414141;
}
.listMenu {
  position: absolute;
  left: 34%;
  top: 42px;
  text-decoration: none;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.005em;
  color: #414141;
}
.navIconBar {
  display: none;
  width: 10px;
}
/* ORDER MAIN */
.orderMain {
  position: relative;
  top: 90px;
  height: 1200px;
  background-color: #f5f6f8;
}
.movieSelect {
  position: relative;
  top: 70px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.25px;
  color: #14142b;
}
.movieOption {
  position: relative;
  top: 80px;
  height: 104px;
  width: 100%;
  border-radius: 6px;
  background-color: #ffffff;
  padding: 37px;
}
.movieName {
  position: relative;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0.25px;
  color: #000000;
}
.btnMovie {
  position: relative;
  top: -45px;
  left: 80%;
  background: #eff0f7;
  opacity: 0.8;
  border: 2px solid #eff0f7;
  border-radius: 15px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #5f2eea;
  height: 45px;
  width: 139px;
}
.btnMovie:hover {
  border: 2px solid #5f2eea;
}
.btnMovie:hover {
  color: #5f2eea;
}
.chooseSeat {
  position: relative;
  top: 120px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.25px;
  color: #14142b;
}
.seatOption {
  position: relative;
  top: 130px;
  background-color: #ffffff;
  border-radius: 6px;
  width: 100%;
  height: 700px;
}
.btnChange {
  position: relative;
  top: 180px;
  left: 0;
  width: 300px;
  height: 58px;
  background: #eff0f7;
  opacity: 0.8;
  border: 2px solid #5f2eea;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #5f2eea;
}
.btnChange:hover {
  color: #5f2eea;
  font-size: 16px;
}
.goToPayment {
  color: #ffffff;
  text-decoration: none;
}
.goToPayment:hover {
  color: #ffffff;
}
.btnCheckout {
  position: relative;
  top: 180px;
  left: 250px;
  width: 300px;
  height: 58px;
  background: #5f2eea;
  opacity: 0.8;
  border: 2px solid #5f2eea;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #eff0f7;
}
.btnCheckout:hover {
  color: #eff0f7;
  font-size: 16px;
}
.orderInfo {
  position: relative;
  top: 70px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #14142b;
}
.infoBook {
  position: relative;
  top: 80px;
  height: 433px;
  width: 412px;
  background: #ffffff;
  box-shadow: 0px 8px 16px rgba(186, 186, 186, 0.24);
  border-radius: 6px;
  padding: 20px;
}
.orderImg {
  height: 22px;
  width: 132px;
  position: relative;
  left: 110px;
}
.nameImg {
  position: relative;
  margin-top: 20px;
  left: 60px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: #14142b;
}
.titleOrderLeft {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #6b6b6b;
}
.titleOrderRight {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #14142b;
}
.lineOrder {
  width: 100%;
}
.totalPayment {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #000000;
}
.totalPrice {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #5f2eea;
}
/* FOOTER */
.footerMain {
  margin-top: 60px;
  height: 400px;
}
.footerLogo {
  position: relative;
  height: 43px;
  top: 93px;
}
.textCol1 {
  position: relative;
  top: 130px;
  width: 300px;
  font-family: "Mulish";
  font-style: normal;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.75px;
  color: #6e7191;
}
.textCol2 {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.5px;
  color: #000000;
  position: relative;
  top: 93px;
}
.footerPage {
  position: relative;
  top: 120px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.5px;
  color: #4e4b66;
  text-decoration: none;
}
.sponsor {
  position: relative;
  top: 110px;
}
.contact {
  position: relative;
  top: 110px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #6e7191;
}
.copyRight {
  position: relative;
  top: 150px;
  text-align: center;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.5px;
  color: #4e4b66;
}
