@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap");
/* NAVBAR */
.navcss {
  background-color: #ffffff;
  height: 104px;
  box-shadow: 0px 8px 24px rgba(186, 186, 186, 0.16);
}
.logo {
  height: 100%;
  top: 9.57px;
  left: 0.35px;
}
.buttonSignUp {
  background: #5f2eea;
  border-radius: 4px;
  width: 120px;
  height: 40px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #f7f7fc;
}
.buttonSignUp:hover {
  background-color: #ffffff;
  color: #5f2eea;
  border: 2px solid #5f2eea;
}
.displayHide {
  display: none;
}
/* Nav Profile*/
.searchWord {
  display: none;
  width: 150px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  padding-left: 10px;
  border-radius: 10px;
  border: 1px solid #ffffff;
}
.profileNav:hover .searchWord {
  display: inline-block;
}
.profileMenu {
  background-color: #ffffff;
  margin-top: -15px;
}
.profileImg {
  height: 45px;
  width: 45px;
  border-radius: 50%;
}
.fontProfile {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}
.homeMenu {
  position: absolute;
  left: 27%;
  top: 42px;
  text-decoration: none;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.005em;
  color: #414141;
}
.listMenu {
  position: absolute;
  left: 34%;
  top: 42px;
  text-decoration: none;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.005em;
  color: #414141;
}
/* ORDER MAIN */
.paymentMain {
  position: relative;
  top: 90px;
  height: 1200px;
  background-color: #f5f6f8;
}
.paymentTitle {
  position: relative;
  top: 70px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.25px;
  color: #14142b;
}
.paymentInfo {
  position: relative;
  top: 80px;
  height: 400px;
  width: 100%;
  border-radius: 6px;
  background-color: #ffffff;
  padding: 60px;
}
.titlePayementLeft {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #6b6b6b;
}
.titlePaymentRight {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #14142b;
}
.totalOrder {
  font-weight: 700;
}
.linePayment {
  width: 100%;
}
.choosePayment {
  position: relative;
  top: 120px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.25px;
  color: #14142b;
}
.paymentOption {
  position: relative;
  top: 130px;
  background-color: #ffffff;
  border-radius: 6px;
  width: 100%;
  height: 400px;
  padding: 48px;
}
.paymentIcon {
  height: 56px;
  width: 146px;
  border: 2px solid #dedede;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 12px;
  text-align: center;
}
.paymentIcon:hover {
  border: 2px solid #5f2eea;
}
.lineOr {
  margin-top: 40px;
  width: 100%;
}
.textOr {
  margin-top: 25px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #a0a3bd;
  text-align: center;
}
.textLink {
  text-decoration: none;
  color: #a0a3bd;
}
.textLink:hover {
  color: #5f2eea;
}
.textCash {
  margin-top: 30px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #6e7191;
  text-align: center;
}
.linkHow {
  text-decoration: none;
  color: #5f2eea;
}
.btnPrev {
  position: relative;
  top: 180px;
  left: 0;
  width: 300px;
  height: 58px;
  background: #eff0f7;
  opacity: 0.8;
  border: 2px solid #5f2eea;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #5f2eea;
}
.btnPrev:hover {
  color: #5f2eea;
  font-size: 16px;
}
.btnPay {
  position: relative;
  top: 180px;
  left: 140px;
  width: 300px;
  height: 58px;
  background: #5f2eea;
  opacity: 0.8;
  border: 2px solid #5f2eea;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #eff0f7;
}
.btnPay:hover {
  color: #eff0f7;
  font-size: 16px;
}
.personalTitle {
  position: relative;
  top: 70px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.25px;
  color: #14142b;
}
.infoPersonal {
  position: relative;
  padding: 30px;
  top: 80px;
  height: 433px;
  width: 100%;
  background: #ffffff;
  border-radius: 6px;
  padding: 30px;
}
.labelPersonal {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #696f79;
}
.formPersonal {
  width: 100%;
  border: 1px solid #dedede;
  box-sizing: border-box;
  padding: 10px 30px 10px 30px;
  border-radius: 4px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #4e4b66;
}
.numberInput {
  border: 1px solid #dedede;
  box-sizing: border-box;
  border-radius: 4px;
}
.codeNumber {
  margin-top: 10px;
  margin-left: 30px;
  margin-bottom: 10px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #4e4b66;
  padding-right: 5s0px;
  width: 60%;
  border: none;
}
.linePhone {
  margin-left: -30px;
  padding-top: 5px;
}
.formNumber {
  margin-top: 10px;
  margin-left: -50px;
  margin-bottom: 10px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  border: none;
  color: #4e4b66;
}
.warningInput {
  padding-top: 15px;
  padding-left: 40px;
  height: 64px;
  width: 100%;
  background: rgba(244, 183, 64, 0.3);
  border-radius: 4px;
}
.warningMsg {
  position: relative;
  top: -25px;
  left: 80px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #4e4b66;
}
/* FOOTER */
.footerMain {
  margin-top: 60px;
  height: 400px;
}
.footerLogo {
  position: relative;
  height: 43px;
  top: 93px;
}
.textCol1 {
  position: relative;
  top: 130px;
  width: 300px;
  font-family: "Mulish";
  font-style: normal;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.75px;
  color: #6e7191;
}
.textCol2 {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.5px;
  color: #000000;
  position: relative;
  top: 93px;
}
.footerPage {
  position: relative;
  top: 120px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.5px;
  color: #4e4b66;
  text-decoration: none;
}
.sponsor {
  position: relative;
  top: 110px;
}
.contact {
  position: relative;
  top: 110px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #6e7191;
}
.copyRight {
  position: relative;
  top: 150px;
  text-align: center;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.5px;
  color: #4e4b66;
}
