@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");
.left {
  background-image: url("../CSS/img/avnger.png");
  height: 950px;
  width: 100%;
  object-fit: cover;
}
.right {
  height: 100%;
}
.logo {
  position: relative;
  width: 80px;
  left: 83px;
  top: 10px;
  display: none;
}
h1 {
  color: #121212;
  position: relative;
  width: 181px;
  height: 12px;
  left: 83px;
  top: 80px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
}
.desc {
  color: #aaaaaa;
  position: relative;
  width: 250px;
  height: 22px;
  left: 83px;
  top: 130px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
.bar {
  height: 64px;
  width: 400px;
  left: 0px;
  top: 40px;
  padding: 30px;
  background: #fcfdfe;
  border: 1px solid #dedede;
  box-sizing: border-box;
  border-radius: 16px;
  color: #a0a3bd;
}
.name {
  font-family: "Mulish", sans-serif;
  position: relative;
  left: 83px;
  top: 150px;
  font-weight: bold;
}
.eye {
  position: relative;
  top: -48px;
  left: 350px;
  width: 20px;
  height: 20px;
}
.signUpBtn {
  position: relative;
  height: 64px;
  width: 400px;
  left: 83px;
  top: 150px;
  border-radius: 16px;
  background-color: #5f2eea;
  color: #f7f7fc;
  font-family: "Mulish", sans-serif;
}
p {
  color: #8692a6;
  font-family: "Inter", sans-serif;
  position: relative;
  width: 237px;
  height: 19px;
  left: 170px;
  top: 170px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}
.signIn {
  color: #5f2eea;
}
.banner_img {
  position: relative;
  width: 500px;
  height: 190px;
  left: 250px;
  top: 383px;
}
.motto {
  position: relative;
  width: 500px;
  height: 58px;
  left: 300px;
  top: 350px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  color: rgba(255, 255, 255, 0.8);
}
.overlay {
  background: rgba(43, 21, 107, 0.8);
  height: 950px;
}
@media screen and (max-width: 500px) {
  .banner {
    display: none;
  }
  .logo {
    left: 30px;
    display: flex;
  }
  h1 {
    left: 30px;
    width: 80px;
    font-size: 20px;
    top: 10px;
  }
  .desc {
    left: 30px;
    font-size: 16px;
    width: 200px;
    top: 30px;
  }
  .bar {
    left: 30px;
    top: 30px;
    height: auto;
    width: 300px;
    margin-bottom: 0;
    padding: 10px;
    background: #fcfdfe;
    border: 1px solid #dedede;
    box-sizing: border-box;
    border-radius: 5px;
  }
  .name {
    left: 30px;
    font-size: 10px;
    margin-bottom: 0;
    top: 30px;
  }
  .signUpBtn {
    left: 30px;
    top: 30px;
    width: 300px;
  }
  p {
    left: 40px;
    font-size: 16px;
    top: 40px;
  }
  .eye {
    left: 270px;
    top: -35px;
  }
}
